*.DS_Store
CodeGeneration/xtend-gen
*/build
TargetProject/WATERS2019_Global/RaspberryPi_2/build
TargetProject/WATERS2019_Global/RaspberryPi_1/build
TargetProject/WATERS2019_APS/RaspberryPi_2/build
TargetProject/WATERS2019_APS/RaspberryPi_1/build
TargetProject/WATERS2019/RaspberryPi_2/build
TargetProject/WATERS2019/RaspberryPi_1/build
TargetProject/Test_Model/RaspberryPi_2/build
TargetProject/Test_Model/RaspberryPi_1/build
TargetProject/RPI_BBW_local_4core/RaspberryPi_1/build
TargetProject/RPI_BBW_local_3core/RaspberryPi_1/build
TargetProject/RPI_BBW_local_2core/RaspberryPi_1/build
TargetProject/RPI_BBW_local_1core/RaspberryPi_1/build
TargetProject/RPI_BBW_local/RaspberryPi_1/build
TargetProject/RPI_BBW_distributed/RaspberryPi_2/build
TargetProject/RPI_BBW_distributed/RaspberryPi_1/build
TargetProject/WATERS2019_Partitioned/RaspberryPi_1/build
TargetProject/WATERS2019_Partitioned/RaspberryPi_2/build
